@import "tailwindcss";

@theme{
  --color-green-home: #00aa58;
  --color-lime-green: #eaff8b
}



.glass{
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border: 1px solid rgba(255, 255, 255, 0.58);
}

.filter-home{
  background: rgb(118,255,159);
  background: linear-gradient(133deg, rgba(118,255,159,1) 0%, rgba(153,79,185,1) 100%); 
}

.glass-green{
/* From https://css.glass */
background: rgba(220, 243, 142, 0.48);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.3px);
-webkit-backdrop-filter: blur(5.3px);
}

.glass_blue{
  /* From https://css.glass */
  background: rgba(131, 230, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(131, 230, 255, 0.3);
}


body {
  font-family: 'Raleway Variable', sans-serif;
  background: rgb(65,136,227);
  background: linear-gradient(180deg, rgba(65,136,227,0.9304315476190477) 49%, rgba(255,255,255,1) 100%);
  min-height: 100vh;
}